<!-- <h1>Hello {{$ctrl.name}}!</h1>
<p>
  Start editing <b>home/home.html</b> :)
</p> -->

<div class="header">
  <h1><span>Pizza</span><span>Planet</span></h1>
</div>

<div class="main">
  <div class="container">
    <h1>Specials for {{ today | date }}</h1>

    <h2>Appetizers</h2>
    <div class="appetizers row" ng-repeat="appetizer in appetizers">
      <div class="item col-md-9">
        <h3 class="name">{{ appetizer.name }}</h3>
        <p class="description">{{ appetizer.description }}</p>
      </div>
      <div class="price col-md-3">
        <p class="price">{{ appetizer.price | currency }}</p>
      </div>
    </div>

    <h2>Mains</h2>
    <div class="mains row" ng-repeat="main in mains">
      <div class="item col-md-9">
        <h3 class="name">{{ main.name }}</h3>
        <p class="description">{{ main.description }}</p>
      </div>
      <div class="price col-md-3">
        <p class="price">{{ main.price }}</p>
      </div>
    </div>

    <h2>Extras</h2>
    <div class="extras row" ng-repeat="extra in extras">
      <div class="item col-md-9">
        <h3 class="name">{{ extra.name }}</h3>
        <p class="description">{{ extra.description }}</p>
      </div>
      <div class="price col-md-3">
        <p class="price">{{ extra.price }}</p>
      </div>

    </div>
  </div>

  <div class="footer"> </div>